.todolist-page {
    margin-left: 230px;
    padding-left: 25px;
    margin-top: 57px;
    padding-top: 10px;
    height: 1000px;
}

.check-button {
    height: 22px;
    width: 22px;
    border-radius: 100px;
    margin-left: 15px;
    border: 2px rgba(34, 34, 59, 0.5) solid;
    background-color: white;
}

.check-button:hover {
    border: 2px rgba(7, 190, 184, 0.8) solid;
    background-color: rgb(184, 224, 223, 0.3);
}

.check-button:hover {
    cursor: pointer;
}

.task-page-container {
    display: flex;
    margin-top: 35px;
}

.task-page-left-container {
    flex: 3;
}

.task-page-right-container {
    flex: 1;
    border: 1px #22223B solid;
    border-radius: 25px;
    margin-right: 25px;
    height: 300px;
}

.task-input {
    border: 1px #22223B solid;
    border-radius: 15px;
    height: 45px;
    width: 90%;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
    text-align: left;
    padding-left: 55px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
    position: relative;
    z-index: 0;
}

.task-input-icon{
    position: absolute;
    top: -3px;
    left: -2px;
    height: 47px;
}

.task-container {
    background-color: white;
    width: 95%;
    height: 85px;
    border: 1px #22223B solid;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    overflow: auto;
}

.task-input-form {
    border: 1px #22223B solid;
    border-radius: 15px;
    width: 95%;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    background-color: white;
    text-align: left;
    padding-left: 55px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
    position: relative;
    z-index: 0;
    padding-top: 5px;
}

.task-name-input {
    height: 32px;
    border: none;
    outline: none;
    box-shadow: none;
    width: 99%;
    font-size: 20px;
}

.task-description-input {
    height: 24px;
    font-size: 1rem;
    width: 95%;
    resize: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.task-date-input {
    height: 24px;
}

.task-date-input:focus {
    outline: none;
}

.task-submit-button {
    height: 28px;
    background-color: #07BEB8;
    border: none;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    padding: 0 15px 0 15px;
    color: white;
    font-weight: 700;
}

.task-submit-button:hover {
    background-color: #01b0ab;
    cursor: pointer;
}

.task-cancel-button {
    height: 28px;
    background-color: #E5B3FE;
    border: none;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    padding: 0 15px 0 15px;
    color: white;
    font-weight: 700;
    margin-right: 10px;
}

.task-cancel-button:hover {
    background-color: #d39aef;
    cursor: pointer;
}

.task-input-bottom {
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-information {
    margin-left: 22px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-info-name{
    margin: 0;
    font-size: 18px;
}

.task-info-desc{
    margin: 0;
    font-size: 16px;
}

.task-info-date {
    margin: 0;
    color: #01b0ab;
    font-size: 16px;
}

.task-right-items {
    width: 70%;
    margin: auto;
    text-align: center;
}