.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
}



.loginform {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px; /* Or whatever width you desire */
    margin-right: 20%;
    
}


.loginform input[type="text"],
.loginform input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginform input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem; /* Space it from the input fields */
}

.loginform a {
    margin-top: 1rem;
    text-decoration: none;
    color: #4CAF50;
    align-self: center;
    
    
}
.bi{
    width: 50%;
    height: 100%;
    background-image: url("../images/8bitsprite.png");
    border: red;
    background-repeat: no-repeat;
}
